{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='container'>
	<div class="row">
		<div class="col-md-6">
			<model-viewer src="{{ house.gltf.url }}" alt="A 3D model of a car" shadow-intensity="1" camera-controls auto-rotate ar ></model-viewer>
			<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
			<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
		</div>
		<div class="col-md-6">
			{{ house.descriptions|safe}}
		</div>
	</div>
	<form method="POST">
		<div class="app">
			<h3 style="justify-content: center;">Оставьте заявку, если вам понравился дом</h3>
			{{ form.name.label }}
			{{ form.name }}
			<br>
			{{ form.phone.label }}
			{{ form.phone }}
			<br>
		</div>
		
			{% csrf_token %}
			<button class="btn btn-lg btn-success" role="button">Оставить заявку</button>
		
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</form>
</div>


{% endblock %}