{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='container'>
	<center>
		<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
			<div class="col-md-6 px-0">
				<model-viewer src="{{ house.gltf.url }}" alt="A 3D model of a car" shadow-intensity="1" camera-controls auto-rotate ar >
				</model-viewer>
				<script type="module"
					src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
				</script>
				<script nomodule
				src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
				</script>
			</div>
		</div>
	</center>
</div>
{% endblock %}