{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='container'>
  <div class="row  mr-3">
    <div class="bg-light p-5 rounded mt-3 col">
        <h1>Тэкера - пожалуй, ваш лучший выбор в этом году</h1>
        <p class="lead">Это сервис по просмотру,бронированию и заказу  строящихся жилых комплексов или жилых многоэтажных зданий</p>
        <a class="btn btn-lg btn-success" href="/main" role="button">Начать просмотр »</a>
    </div>
    <div class="col center">
      <img src="{% static "img/ill.png" %}" height="100%" width="auto">
    </div>
  </div>
</div>
{% endblock %}