{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='container'>
    <div class="bg-light p-5 rounded mt-3">
        <h1>Тэкера - пожалуй, ваш лучший выбор в этом году</h1>
        <p class="lead">Тэкера - проект  для просмотра строящихся многоэтажных жилых домов. Отличительная черта - просмотр дома в 3д модели, где мы можем рассмотреть каждый кирпичик</p>
        <a class="btn btn-lg btn-success" href="/" role="button">Начать просмотр »</a>
      </div>
</div>
{% endblock %}